<div class="content">
		<div class="courses-w3ls">
			<div class="container">
			<div class="col-md-8 contact-left cont">
					<div class="contct-info">
							<h4>Add Course</h4>
							<form (ngSubmit)="StoreCourse()">
								<div class="row">
									<div class="col-md-6 row-grid">
									<input type="text" [(ngModel)]="CourseData.name" placeholder="Course Name" name="name" required>
									</div>
										<div class="col-md-6 row-grid">
											<input type="text"[(ngModel)]="CourseData.code" placeholder="Coursecode" name="code" required>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="row">
									<div class="col-md-12 row-grid">
									<label>Picture</label>
									 <input  #myInput  type="file" (change)="onChangeFile($event)" accept="image/*"/>
									</div>
									<div class="clearfix"></div>
								</div>
								<textarea placeholder="Description" [(ngModel)]="CourseData.description" name="description" required ></textarea>
								<input type="submit" value="Submit" >
								<input type="reset" value="Clear" >
					</form>
				</div>
		</div>
		</div>
	</div>
</div>